pre {
    text-align: left;
    border: 1px dotted red;
    overflow-x: scroll;
    clear: both;
}

.comment {
    font-style: italic;
    color: gray;
}

.keyword {
    color: cyan;
}

.built-in {
    color: pink;
}
