/*css*/

body {
    background-color: black;
    margin: 0px;
    color: #fde541;
    width: auto;
    font-size: 24px;
    font-weight: bold;
}

table, th, td {
    border: 1px solid green;
}

a {
    color: red;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    border-bottom: solid green 4px;
}

div {
    margin: auto;
}

ul {
    text-align: left;
}

.this-page {
    border-bottom: solid green 4px;
}

.centered-div {
    width: 50%;
}

.left-bit {
    float: left;
}

.right-bit {
    float: right;
    text-align: right;
}

.cv-link {
    color: red;
    display: inline;
    margin: 0;
    position: relative;
}

.cv-link:hover {
    border-bottom: solid green 4px;
}

.cv-link:hover ul{
    display: block;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
}


.cv-link ul{
    display: none;
    list-style: none;
}

.content {
    clear: both;
    text-align: center;
    padding-top: 80px;
}

.content-blog {
    clear: both;
    text-align: left;
    padding-top: 80px;
}

.padded-text {
    padding-bottom: 20px;
}

.center-text {
    text-align: center;
}

.big-title {
    font-size: 48px;
    color: white;
    padding-bottom: 20px;
}

.place-title {
    text-align: left;
    float: left;
}

.place-location {
    clear: both;
    text-align: left;
    float: left;
    font-style: italic;
    padding-bottom: 20px;
}

.place-time {
    text-align: right;
    font-style: italic;
    float: right;
}

.place-description {
    text-align: left;
    padding-bottom: 40px;
    clear: both;
}

.bottom-div {
    border-top: solid red 4px;
    padding-top: 20px;
}

.with-sublists {
    color: white;
    font-style: italic;
}

.with-sublists ul {
    font-style: normal;
    color: #fde541;
}

.with-sublists ol {
    font-style: normal;
    color: #fde541;
}
