/*css*/

body {
    background-color: black;
    margin: 0px;
    color: green;
    width: auto;
    font-size: 24px;
    font-weight: bold;
}

a {
    color: red;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    border-bottom: solid green 4px;
}

div {
    margin: auto;
}

.this-page {
    border-bottom: solid green 4px;
}

.centered-div {
    width: 50%;
}

.left-bit {
    float: left;
}

.right-bit {
    float: right;
    text-align: right;
}

.content {
    clear: both;
    text-align: center;
    padding-top: 80px;
}

.padded-text {
    padding-bottom: 20px;
}

.center-text {
    text-align: center;
}

.big-title {
    font-size: 48px;
    color: white;
    padding-bottom: 20px;
}

.place-title {
    text-align: left;
    float: left;
}

.place-location {
    text-align: left;
    float: left;
    font-style: italic;
    padding-bottom: 20px;
}

.place-time {
    text-align: right;
    font-style: italic;
    float: right;
}

.place-description {
    text-align: left;
    padding-bottom: 40px;
    clear: both;
}

.bottom-div {
    border-top: solid red 4px;
    padding-top: 20px;
}
